* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
}

.spinner {
  margin: 40vh auto;
}

.input-box {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 350px;
  height: 300px;
  border: 3px solid brown;
  border-radius: 10px;
}

.input-box div {
  width: 100%;
}

.input-box div input {
  height: 35px;
  width: 50%;
  border: 3px solid brown;
  border-radius: 10px;
}
.input-box div input:hover{
  cursor: pointer;
}
.input-box div button {
  border: none;
  padding: 0px 15px;
  height: 35px;
  border-radius: 10px;
  background-color: seagreen;
  color: white;
}
.input-box div button:hover{
   background-color: rgb(89, 226, 148);
   color: black;
   cursor: pointer;
}
.birth-astro {
  display: flex;
  justify-content: center;
  width: 90%;
  column-count: 2;
  flex-wrap: wrap;
  max-width: 100%;
  margin: auto;
  text-align: left;
}

.birth-astro div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-text {
  color: brown;
}

.card-heading {
  width: 100%;
  text-decoration: underline;
  color: rgb(120, 157, 57);
}

.birth-astro div p {
  width: 50%;
  border: none;
}

.gem-suggestion {
  width: 90%;
  height: auto;
  column-count: 3;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.small-card {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  min-width: 250px;
  height: 300px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  border-radius: 10px;
}

.small-card p {
  margin: 3px;
}